title {color:lightpink;}
body {
    color:burlywood;
    background-color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1 {color:rosybrown;
    font-family: 'Playfair Display', serif;
}
h2 {color:rosybrown;
    font-family: 'Playfair Display', serif;
}
h3 {color:rosybrown;
    font-family: 'Playfair Display', serif;
}
a {color:rosybrown;}
nav {background-color: lavenderblush;}

nav a {color:antiquewhite;}
nav {color:antiquewhite;}

nav a:hover {background-color:palevioletred;}