title {color:lightpink;}
body {
    color:#d9d9d9;
    background-color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif
    

}
h1 {color:rosybrown;
    font-family: 'Playfair Display', serif;
}
h2 {color:rosybrown;
    font-family: 'Playfair Display', serif;
}
h3 {color:rosybrown;
    font-family: 'Playfair Display', serif;
}
a {color:rosybrown;}
